.container {
width:100%;
}

.navigation-clean {
  background:#fff;
  padding-top:13px;
  padding-bottom:10px;
  color:#000;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .05em;
}

@media (max-width:767px) {
  .navigation-clean {
    padding-top:4px;
    padding-bottom:0;
  }
}

.navbar-nav {
  margin:0;
}

@media (max-width:767px) {
  .navigation-clean .navbar-header {
    padding-top:10px;
    padding-bottom:10px;
  }
}

.navigation-clean .navbar-brand {
  text-transform: uppercase;
  color: #000;
  font-size:1.8em;
  letter-spacing: .09em;
  font-weight: 100!important;
  padding-left: 24px;
}

.navigation-clean .navbar-brand img {
  height:100%;
  display:inline-block;
  width:auto;
}

.navigation-clean .navbar-toggle {
  border:none;
}

.navigation-clean .navbar-toggle:hover, .navigation-clean .navbar-toggle:focus {
  background:none;
}

.navigation-clean.navbar-inverse .navbar-toggle {
  border: none;
}

.navigation-clean .navbar-toggle .icon-bar {
  background-color:#888;
}

.navigation-clean.navbar-inverse .navbar-toggle .icon-bar {
  background-color:#eee;
}

.navigation-clean .navbar-collapse, .navigation-clean .navbar-form {
  padding-left:0;
  padding-right:0;
}

.navigation-clean.navbar-inverse .navbar-collapse, .navigation-clean.navbar-inverse .navbar-form {
  border-top-color:#333;
}

.navigation-clean .navbar-nav > .active > a, .navigation-clean .navbar-nav > .open > a {
  background:none;
  box-shadow:none;
}

.navigation-clean.navbar-default .navbar-nav > .active > a, .navigation-clean.navbar-default .navbar-nav > .active > a:focus, .navigation-clean.navbar-default .navbar-nav > .active > a:hover {
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean.navbar .navbar-nav > li > a {
  padding-left:18px;
  padding-right:18px;
}

@media (max-width:767px) {
.navigation-clean.navbar-default .navbar-nav > li > a {
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}}

.navigation-clean.navbar-default .navbar-nav > li > a:focus, .navigation-clean.navbar-default .navbar-nav > li > a:hover {
  color:#37434d !important;
  background-color:transparent;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

@media (max-width:767px) {
  .navigation-clean .navbar-nav .open .dropdown-menu {
    box-shadow:none;
  }
}

@media (max-width:767px) {
  .navigation-clean .navbar-nav .open .dropdown-menu > li > a {
    color:#37434d;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
}

.navigation-clean .dropdown-menu > li > a:focus, .navigation-clean .dropdown-menu > li > a {
  line-height:2;
  font-size:14px;
  color:#37434d;

}

.navigation-clean .dropdown-menu > li > a:focus, .navigation-clean .dropdown-menu > li > a:hover {
  background:#eee;
  color:inherit;
}

.navigation-clean.navbar-inverse {
  background-color:#1f2021;
  color:#fff;
}

.navigation-clean.navbar-inverse .navbar-nav > .active > a, .navigation-clean.navbar-inverse .navbar-nav > .active > a:focus, .navigation-clean.navbar-inverse .navbar-nav > .active > a:hover {
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean.navbar-inverse .navbar-nav > li > a {
  color:#dfe8ee;
}

.navigation-clean.navbar-inverse .navbar-nav > li > a:focus, .navigation-clean.navbar-inverse .navbar-nav > li > a:hover {
  color:#fff !important;
  background-color:transparent;
}

.navigation-clean.navbar-inverse .navbar-nav > li > .dropdown-menu {
  background-color:#1f2021;
}

.navigation-clean.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean.navbar-inverse .dropdown-menu > li > a {
  color:#f2f5f8;
}

.navigation-clean.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean.navbar-inverse .dropdown-menu > li > a:hover {
  background:#363739;
}

@media (max-width:767px) {
  .navigation-clean.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color:#fff;
  }
}

div.fullbleed {
  display: block;
  position: absolute;
  top:75px;
  bottom: 0;
  left: 0;
  width:100%;
  background-image:url("../../assets/img/Conductor-smaller-file.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:30% 20%;
  z-index: -1;
}

div.aboutimage img {
  max-height: 450px;
  margin-left: auto;
  margin-right: auto;
}

div.newsimage img {
  max-height: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

div.singleimage img {
  max-width: 980px;
  max-height: 600px;
}

div.singleimage-controls p {
  max-width: 980px;
  margin-left: auto;
  margin-right:auto;
  text-align: left;
  padding-left:90px;
  padding-top:20px;
  padding-bottom: 16px;
}

@media (max-width:767px) {
  div.fullbleed {
    background-position: top right;
  }
}

div.form {
font-family: Proxima Nova, sans-serif;
}

div.form h1,h2 {
  font-weight: 100;
  text-align: center;
  letter-spacing: .01em;
}

div.form h1 {
font-size: 2.3em;
margin-top: 0;
margin-bottom: 16px;
}

div.form h2 {
  font-size:1.9em;
}

div.form h3 {
  font-size:1.5em;
  line-height: 1.5em;
  text-align: center;
  font-weight: 100;
  padding-left: 84px;
  padding-right: 84px;
  padding-bottom: 10px;
}

div.form {
padding-left: 28px!important;
padding-right: 28px!important;
}

div.form p {
font-weight: 300;
font-size: 1.1em;
margin-bottom: 4px;
}

div.news {
font-family: Proxima Nova, sans-serif;
}

div.news h1,h2 {
  font-weight: 100;
  text-align: center;
  letter-spacing: .01em;
}

div.news h1 {
  font-size: 2.3em;
margin-top: 0;
margin-bottom: 16px;
}

div.news h2 {
  font-size:1.9em;
}

div.news h3 {
  font-size:1.5em;
  line-height: 1.5em;
  text-align: left;
  font-weight: 100;
  padding-bottom: 10px;
}

div.news {
padding-left: 28px;
padding-right: 28px;
}

div.news p {
font-weight: 300;
font-size: 1.1em;
margin-bottom: 4px;
}

div.news h4 {
  border-bottom: 1px solid;
  padding-bottom: 5px;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: .03em;
  text-transform: uppercase;
}

span.title {
  font-style:italic!important;
}
.form-control {
  border-radius: 0;
  background-color:#fafafa;
}

.button {
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #000;
    color:#fff;
    border:none;
    text-align: center;
    min-width:100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 22px;
}

label {
  font-weight:100!important;
  padding-top: 6px;
  font-size:.9em;
}

div.singleimage-controls {
  margin-left: 120px;
  margin-right: 200px;
}

.singleimage-controls ul li img {
  padding-top:13px;
  max-height: 3em;
}

.singleimage-controls ul li {
  list-style-type: none;
  float:right;
  overflow: none;
}

.singleimage-controls p {
font-family: Proxima Nova;
}

@media (max-width:767px) {
div.singleimage p {
  padding-left: 0;
}}

.footer {
  text-align: center;
  border-top: 1px solid #8c8b8b;
  font-size: .8em;
  font-family: Proxima Nova;
  font-weight:100;
  clear:both;
}

.footer p {
  padding-top: 14px;
}

.thumbnail {
  border-radius: 0;
  border:none;
  padding: 0;
  background-color:#fff;
  box-shadow: none;
}

.col-xs-6 {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  margin-bottom:-3px;
}

@media (max-width:767px) {
  .col-xs-6 {
    width:100%;
  }
}
